<body>
    <div class="content">
        <h1>아기사자 대나무숲</h1>
        <h2>자유 게시판</h2>
        <ul>
            {% for post in posts %}
                <li><a href="{% url 'detail' pk=post.id %}">{{post.title}}</a>
                    <span>{{post.upload_time}}</span></li>
            {% endfor %}
        </ul>
        <h2>질문 게시판</h2>
        <ul>
            {% for question in questions %}
                <li><a href="{% url 'Qdetail' pk=question.id %}">{{question.title}}</a>
                    <span>{{question.upload_time}}</span></li>
            {% endfor %}
        </ul>
    </div>
</body>